{{ define "main" }}
  <article class="justify-self-center mt-4">
    <div class="border-b-2 border-stone-700 px-8 md:px-16 lg:py-4">
      <h1 class="text-3xl md:text-4xl mb-2">{{ .Title }}</h1>

      <h2 class="font-mono text-stone-700 mb-2 text-sm md:text-lg">
        {{ .Date.Format "January 2, 2006" }}
      </h3>
    </div>

    <div class="border-b-2 border-stone-700 px-8 md:px-16 mt-4 pb-4">
      <div
        class="
          max-w-none 
          prose prose-sm prose-stone md:prose-base
          prose-pre:px-8 prose-pre:-mx-8
          md:prose-pre:px-16 md:prose-pre:-mx-16
          prose-pre:rounded-none
          prose-blockquote:border-l-8
          md:prose-blockquote:border-l-16
          prose-img:mx-auto
          prose-figcaption:text-center
          hover:prose-a:decoration-sky-700
          "
      >
        {{ .Content }}
      </div>
    </div>
  </article>
{{ end }}
