{{ define "main" }}
  <article class="justify-self-center mt-4">
    <div class="border-b-2 border-stone-700 px-8 lg:py-4">
      <h1 class="text-3xl md:text-4xl text-stone-900 mb-2">{{ .Title }}</h1>

      <h3 class="text-stone-900 mb-2 text-sm md:text-lg">
        {{ .Date.Format "January 2, 2006" }}
      </h3>
    </div>

    <div class="border-b-2 border-stone-700 px-8 mt-4 pb-4">
      <div
        class="
          max-w-none 
          prose prose-sm prose-stone md:prose-lg
          prose-pre:px-8 prose-pre:-mx-8 prose-pre:rounded-none
          prose-blockquote:border-l-8
          prose-img:mx-auto
          prose-figcaption:text-center
          hover:prose-a:decoration-amber-400
          "
      >
        {{ .Content }}
      </div>
    </div>
  </article>
{{ end }}
