@font-face {
  font-family: "Berkeley Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/BerkeleyMono-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Berkeley Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/BerkeleyMono-Bold.woff2) format("woff2");
}

@font-face {
  font-family: "Berkeley Mono";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/BerkeleyMono-Italic.woff2) format("woff2");
}

@font-face {
  font-family: "Berkeley Mono";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/BerkeleyMono-BoldItalic.woff2) format("woff2");
}
