@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,600;1,400;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  color: #1c1917;
  background: #fbbf24;
  text-decoration-color: #1c1917;
}
