<header class="w-full">
  {{/* CSS functionality for menu toggle */}}
  <style type="text/css">
    input#nav-toggle:checked ~ label#show-button {
      display: none;
    }

    input#nav-toggle:checked ~ label#hide-button {
      display: flex;
    }

    input#nav-toggle:checked ~ #nav-menu {
      display: block;
    }
  </style>
  <nav
    class="relative flex items-end justify-between flex-wrap py-4 lg:pt-8 text-stone-300 font-mono text-3xl md:text-4xl"
  >
    <a
      href="{{ .Site.Home.Permalink }}"
      class="flex items-center italic hover:underline decoration-amber-400"
    >
      {{ .Site.Title }}
    </a>

    <input id="nav-toggle" type="checkbox" class="hidden" />
    <label
      id="show-button"
      for="nav-toggle"
      class="flex items-center sm:hidden hover:text-amber-400 h-full"
    >
      ↓
    </label>
    <label
      id="hide-button"
      for="nav-toggle"
      class="items-center hidden hover:text-amber-400"
    >
      ↑
    </label>

    <ul
      id="nav-menu"
      class="sm:flex w-full sm:w-auto hidden mt-2 sm:mt-0 sm:space-x-6 text-base md:text-xl"
    >
      {{ with .Site.GetPage "/about" }}
      <li>
        <a
          href="{{ .Permalink }}"
          class="hover:underline decoration-amber-400 tracking-tight"
          >{{ .Title }}</a
        >
      </li>
      {{ end }} {{ range .Site.Sections }}
      <li>
        <a
          href="{{ .Permalink }}"
          class="hover:underline decoration-amber-400 tracking-tight"
          >{{ .Title }}</a
        >
      </li>
      {{ end }}
    </ul>
  </nav>
</header>
