<header class="w-full px-8 border-b-2 border-stone-700">
  {{/* CSS functionality for menu toggle */}}
  <nav
    class="relative flex items-end justify-between flex-wrap py-4 text-stone-900 text-3xl md:text-4xl"
  >
    <a
      href="{{ .Site.Home.Permalink }}"
      class="flex items-center hover:underline decoration-amber-400 font-bold"
    >
      <svg
        height="30"
        viewBox="0 0 220 40"
        version="1.1"
        style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
      >
        <g transform="matrix(1,0,0,1,-5.68739,90.7179)">
          <g transform="matrix(48,0,0,48,222.271,-53.5099)"></g>
          <text
            x="9.151px"
            y="-53.51px"
            style="font-family:'BerkeleyMono-BoldItalic', 'Berkeley Mono';font-weight:700;font-style:italic;font-size:48px;"
          >
            mn
            <tspan
              x="62.911px 89.791px 114.751px 139.711px 166.591px 193.471px "
              y="-53.51px -53.51px -53.51px -53.51px -53.51px -53.51px "
            >
              tn.dev
            </tspan>
          </text>
        </g>
      </svg>
    </a>

    <ul
      id="nav-menu"
      class="flex w-full sm:w-auto mt-2 sm:mt-0 space-x-6 text-xl"
    >
      {{ with .Site.GetPage "/about" }}
        <li>
          <a
            href="{{ .Permalink }}"
            class="hover:underline decoration-amber-400 tracking-tight"
            >{{ .Title }}</a
          >
        </li>
      {{ end }}
      {{ range .Site.Sections }}
        <li>
          <a
            href="{{ .Permalink }}"
            class="hover:underline decoration-amber-400 tracking-tight"
            >{{ .Title }}</a
          >
        </li>
      {{ end }}
    </ul>
  </nav>
</header>
