{{ define "main" }}
  {{ $built := resources.Get "ts/waves.ts" | js.Build "waves.js" }}
  <script src="{{ $built.RelPermalink }}" async></script>
  <div
    class="text-amber-50 text-3xl lg:text-4xl relative h-64 overflow-hidden border-b-2 border-stone-700 bg-blue-900"
  >
    <canvas id="herocanvas" class="absolute h-full w-full"> </canvas>
    <div class="absolute top-8 inset-x-8">
      <h1 class="">I'm Thomas.</h1>
    </div>
    <div class="absolute bottom-8 inset-x-8 text-right">
      <p>
        I write software at
        <a class="hover:underline" href="https://www.convictional.com"
          >Convictional.</a
        >
      </p>
    </div>
  </div>
{{ end }}
