{{ define "main" }}
  <div class="text-stone-300">
    <div
      class="relative py-8 lg:py-16 mt-4 lg:mt-24 grid grid-cols-1 md:grid-cols-2 mx-auto"
    >
      <div class="col-span-1 md:col-span-2 text-3xl lg:text-4xl mb-8">
        <h1 class="mb-2 lg:mb-4 italic">I'm Thomas.</h1>
        <div class="space-y-2">
          <p>
            I write software at
            <a
              class="text-sky-500 hover:underline"
              href="https://www.convictional.com"
              >Convictional.</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
{{ end }}
